<div id="parentDiv">
  <div id="header">
    <input type="file"
      accept="audio/*"
      multiple
      style="text-align: center;"
      (change)="onSelect($event)" />
    <div style="max-height: 200px; overflow-y: auto;">
      <button mat-stroked-button
        [color]="i==currentFileIndex?'primary':''"
        (click)="play(i)"
        *ngFor="let file of selectedFiles;let i=index">{{file.name}}</button>
    </div>
  </div>
  <div id="playerDiv">
    <div>
      <button mat-raised-button
        color="primary"
        (click)="backward()">
        <mat-icon>fast_rewind</mat-icon>
      </button>
      <select [(ngModel)]="backwardTime">
        <option *ngFor="let t of timeList"
          [ngValue]="t">{{t}}</option>
      </select>
    </div>
    <div>
      <select [(ngModel)]="forwardTime">
        <option *ngFor="let t of timeList"
          [ngValue]="t">{{t}}</option>
      </select>
      <button mat-raised-button
        color="primary"
        (click)="forward()">
        <mat-icon>fast_forward</mat-icon>
      </button>
    </div>
    <div style="min-width: 10px;">
      <div style="width: 43px">{{volumn}} %</div>
      <input [(ngModel)]="volumn"
        (input)="onVolumnChanges()"
        orient=vertical
        type="range">
    </div>
  </div>
  <div id="footer">
    <audio #myplayer
      controls></audio>
    <p>{{selectedFiles[currentFileIndex].name}}</p>
  </div>
</div>